.NavBar {
    position: absolute;
    margin: 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.NavBar a:hover {
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;
}